[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
configparser = "*"
flask = "*"
numpy = "*"
pillow = "*"
numba = "*"
requests = "*"
urllib3 = "*"
gunicorn = "*"
python-telegram-bot = "*"

[requires]
python_version = "3.7"
